main {
    display: flex;
    grid-area: main;
    overflow-y: auto;
    flex-direction: column;
    transition: 0.3s;
    padding: 2em;
    text-align: center;
}

.main-dark {
    color: var(--cor-primaria);
    background-color: var(--cor-dark-primaria);
}

.swiper-banner {
    display: flex;
    width: 100%;
    min-height: 55vh;
    background-color: var(--cor-terciaria);
    border-radius: 1.5em;
}

.swiper-banner .swiper-slide {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.swiper-banner .swiper-slide::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.80) 35%, rgba(0, 212, 255, 0) 100%);
}

.swiper-idolos {
    display: flex;
    width: 100%;
    height: 45vh;

}

.swiper-idolos .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 1em 1em 0 0 ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    cursor: pointer;
    padding: 1em;
    transition: 0.5s;
}

.swiper-idolos .swiper-slide:hover{
    color: white;
    transition: 0.5s;
}

.swiper-idolos .swiper-slide::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: transparent;
    transition: 0.5s;
}
.swiper-idolos .swiper-slide:hover::after{
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.80) 35%, rgba(0, 212, 255, 0) 100%);
    transition: 1s;

}

main section {
    display: flex;
    margin-top: 2em;
    align-items: center;
    gap: 3em;
}

main section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 0;
    text-align: justify;
}
main section article > figure img, img{
    width: 100%;
}

main hr {
    margin: 2em 0;
}

.top-equipamentos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: unset;
    text-align: center;
}
.top-equipamentos figure img{
    width: 12em;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1em;
}

/* RESPONSIVIDADE DO CONTEUDO PRINCIPAL(MAIN) */

/* Estilos para dispositivos com largura máxima de 600px */
@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    .swiper-banner {
        min-height: 30vh;
    }
}


/* Estilos para dispositivos com largura entre 601px e 1200px */
@media (min-width: 768px) and (max-width: 1200px) {}

/* Estilos para dispositivos com largura mínima de 1201px */
@media (min-width: 1201px) {}