header{
    display: flex;
    grid-area: header;
    background-color: black;
    justify-content: center;
    color: var(--cor-primaria);
    padding: 0.5em;
}
nav{
    display: flex;
    grid-area: nav;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-secundaria);
    border-bottom: 3px solid var(--cor-quartenaria);
    padding: 0.5em 1em;
}
nav a{
    color: var(--cor-primaria);
    text-decoration: none;
}

.nav_burguer{
    display: none;
}

.nav_container{
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav_logo{
    display: flex;
}
.nav_logo img{
    height: 3em;
}

.nav_container ul{
    display: flex;
    list-style: none;
    gap: 1em;
}
.nav_container ul li a{
    padding: 0.3em;
    border-radius: 0.3em;
    transition: 0.3s;
}
.nav_container ul li a:hover{
    transition: 0.3s;
    background-color: var(--cor-terciaria);
}

.label_theme{
    border-radius: 50%;
    padding: 0.3em;
    font-size: 1.3em;
    background-color: var(--cor-primaria);
}

.nav_container input{
    padding: 0.2em 0em 0.2em 2em;
    background-color: transparent;
    border-radius: 0.5em;
    color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    font-size: 1em;
}
.nav_container input::placeholder{
    color: var(--cor-primaria);
    opacity: 0.6;
}

/* RESPONSIVIDADE DA BARRA DE NAVEGAÇÃO(HEADER E NAV) */

/* Estilos para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    header{
        display: none;
    }
    .nav_container{
        display: none;
    }


    .nav_burguer{
        display: flex;
        position: relative;
        z-index: 3;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        gap: 0.5em;
        cursor: pointer;
    }
    .nav_burguer div{
        background-color: var(--cor-primaria);
        width: 3em;
        height: 0.3em;
        border-radius: 0.5em;
        transition: 0.5s;
    }

    .linha1{
        top: 0;
        transform: translateY(0.4em) rotate(45deg);
        transition: 0.5s;
    }
    .linha2{
        display: none;
    }
    .linha3{
        transform: translateY(-0.4em) rotate(-45deg);
        transition: 0.5s;

    }

    .exibir-aside{
        transform: translateX(0);
    }
}

/* Estilos para dispositivos com largura entre 601px e 1200px */
@media (min-width: 768px) and (max-width: 1200px){
    
}

/* Estilos para dispositivos com largura mínima de 1201px */
@media (min-width: 1201px) {
    
}